.footer {
  padding: 50px 0;


  &__container {
    @include for-size(desktop) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__nav {
    flex-basis: 62%;
    width-max: 100%;
    display: flex;
    flex-direction: column;

    @include for-size(tablet) {
      flex-basis: 100%;
      margin-max: 50px;
    }
  }
  &__items {
    justify-content: space-between;
    padding: 0;
    margin-max: 50px;

    @include for-size(phone) {
      display: flex;
      flex-direction: column;
    }
  }

  &__contacts {
    @include for-size (tablet) {
      display: none;
    }
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
  }

  &__logo {
    padding-top: 35px;
  }

  .contacts {

    &__phone {
      font-weight: 600;
      font-size: 26px;
      line-height: 140%;
    }
    p {
      margin-bottom: 10px;
    }
  }

}